.ic {
    width: 24px;
    height: 24px;
    color: black;
    background-size: 24px 24px;

    display: block;
    text-indent: -9999px;
}

.ic-chart {
    /*background-image: url("../assets/icons/chart.svg");*/
    background: url("../assets/icons/chart.svg") center center no-repeat;
}

.ic-truck {
    background: url("../assets/icons/truck.svg") center center no-repeat;
}

.ic-logout {
    background: url("../assets/icons/logout.svg") center center no-repeat;
}