/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
body{
    /*height: 100%;*/
}
#root, #__next{
    height: 100%;
    width: 100%;
}

.wrapper {
    background: #FDFDFE;
    display: flex;
    align-items: stretch;
    font-family: Gilroy, serif;
    font-size: 16px;
    line-height: 20px;
    height: 100%;
    width: 100%;
}

.container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container__main{
    padding: 0 3em;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar {
    /*margin: -20px -20px 40px -20px;*/
    /*position: fixed;*/
    /*z-index: 999;*/
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    /*background: #7386D5;*/
    color: #000;
    transition: all 0.3s;
}

.sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
}


/*.sidebar.active .sidebar__header,*/
/*.sidebar.active .sidebar__body,.sidebar.active .sidebar__profile {*/
.sidebar.active *{
    display: none;

}

.sidebar__header {
    border-bottom: 1px solid #E7E7E7;
    min-height: 75px;
    min-width: 250px;
    padding: 0;
}

.sidebar__header-logo {
    text-align: center;
    background: url("assets/images/logo.png") no-repeat center;
    background-size: 250px 100px;
    width: 250px;
    height: 100px;
    max-height: 100px;
    max-width: 250px;
    margin: 0;
    padding: 0;
}

.sidebar__profile {
    margin: 10px auto;
    width: 200px;
    background: #F2F3F5;
    border-radius: 15px;
    padding: 10px 15px;

}

.sidebar__profile row{
    margin: 10px 0;
}

.sidebar__profile-img {
    margin-right: 5px;
}

.sidebar__profile-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.sidebar__profile-body{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #999999;
}

/*.sidebar__profile-inline-img{*/
/*    display: inline-block;*/
/*}*/

.sidebar__body {
    margin-top: 20px;
}

.sidebar__body{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.sidebar_body-list{
    width: 100%;
    padding: 10px 25px;
}

.sidebar_body-list:hover{
    background: rgba(51, 113, 76, 0.07);
    border-right: 3px solid #333443;
}

.sidebar_body-list.active{
    color: #3371F5;
    background: rgba(51, 113, 245, 0.07);
    border-right: 3px solid #3371F5;
}

.sidebar_body-list:active{
    color: #3371F5;
}

.sidebar__body-link:hover{
    text-decoration: none;
}

.sidebar__link-icon {
    color: #000;
    height: 24px !important;
    width: 24px !important;
}













/*#sidebar {*/
/*    min-width: 250px;*/
/*    max-width: 250px;*/
/*    background: #7386D5;*/
/*    color: #fff;*/
/*    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);*/
/*    transform-origin: bottom left;*/
/*}*/

/*#sidebar.active {*/
/*    margin-left: -250px;*/
/*    transform: rotateY(100deg);*/
/*}*/

/*#sidebar .sidebar-header {*/
/*    padding: 20px;*/
/*    background: #6d7fcc;*/
/*}*/

/*#sidebar ul.components {*/
/*    padding: 20px 0;*/
/*    border-bottom: 1px solid #47748b;*/
/*}*/

/*#sidebar ul p {*/
/*    color: #fff;*/
/*    padding: 10px;*/
/*}*/

/*#sidebar ul li a {*/
/*    padding: 10px;*/
/*    font-size: 1.1em;*/
/*    display: block;*/
/*}*/
/*#sidebar ul li a:hover {*/
/*    color: #7386D5;*/
/*    background: #fff;*/
/*}*/

/*#sidebar ul li.active > a, a[aria-expanded="true"] {*/
/*    color: #fff;*/
/*    background: #6d7fcc;*/
/*}*/











/*.sidebar__header-strong {*/
/*    display: block;*/
/*}*/

/*.sidebar__list-link {*/
/*    text-align: left;*/
/*}*/

/*#sidebar.active ul li a {*/
/*    padding: 20px 10px;*/
/*    text-align: center;*/
/*    font-size: 0.85em;*/
/*}*/

/*#sidebar.active ul li a i {*/
/*    margin-right: 0;*/
/*    display: block;*/
/*    font-size: 1.8em;*/
/*    margin-bottom: 5px;*/
/*}*/

/*#sidebar.active ul ul a {*/
/*    padding: 10px !important;*/
/*}*/

/*#sidebar.active .dropdown-toggle::after {*/
/*    top: auto;*/
/*    bottom: 10px;*/
/*    right: 50%;*/
/*    -webkit-transform: translateX(50%);*/
/*    -ms-transform: translateX(50%);*/
/*    transform: translateX(50%);*/
/*}*/

/*.sidebar-header {*/
/*    padding: 20px;*/
/*    !*background: #6d7fcc;*!*/
/*}*/

/*.sidebar-header strong {*/
/*    display: none;*/
/*    font-size: 1.8em;*/
/*}*/

/*#sidebar ul.components {*/
/*    padding: 20px 0;*/
/*    border-bottom: 1px solid #47748b;*/
/*}*/

/*#sidebar ul li a {*/
/*    padding: 10px;*/
/*    font-size: 1.1em;*/
/*    display: block;*/
/*}*/

/*#sidebar ul li a:hover {*/
/*    color: #7386D5;*/
/*    background: #fff;*/
/*}*/

/*#sidebar ul li a i {*/
/*    margin-right: 10px;*/
/*}*/

/*#sidebar ul li.active>a,*/
/*a[aria-expanded="true"] {*/
/*    color: #fff;*/
/*    background: #6d7fcc;*/
/*}*/

/*a[data-toggle="collapse"] {*/
/*    position: relative;*/
/*}*/

/*.dropdown-toggle::after {*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 20px;*/
/*    transform: translateY(-50%);*/
/*}*/

/*ul ul a {*/
/*    font-size: 0.9em !important;*/
/*    padding-left: 30px !important;*/
/*    background: #6d7fcc;*/
/*}*/

/*ul.CTAs {*/
/*    padding: 20px;*/
/*}*/

/*ul.CTAs a {*/
/*    text-align: center;*/
/*    font-size: 0.9em !important;*/
/*    display: block;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/

/*a.download {*/
/*    background: #fff;*/
/*    color: #7386D5;*/
/*}*/

/*a.article,*/
/*a.article:hover {*/
/*    background: #6d7fcc !important;*/
/*    color: #fff !important;*/
/*}*/

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    padding: 0 0 20px 0;
    min-height: 100vh;
    height: 100%;
    transition: all 0.3s;
    border-left: 1px solid #E7E7E7;

}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*@media (max-width: 768px) {*/
/*    #sidebar {*/
/*        height: 100vh;*/
/*        !*position: fixed;*!*/
/*        !*z-index: 999;*!*/
/*        margin-left: -250px;*/
/*        transform: rotateY(90deg);*/
/*    }*/
/*    #sidebar.active {*/
/*        margin-left: 0;*/
/*        transform: none;*/
/*    }*/
/*    #sidebarCollapse span:first-of-type,*/
/*    #sidebarCollapse span:nth-of-type(2),*/
/*    #sidebarCollapse span:last-of-type {*/
/*        transform: none;*/
/*        opacity: 1;*/
/*        margin: 5px auto;*/
/*    }*/
/*    #sidebarCollapse.active span {*/
/*        margin: 0 auto;*/
/*    }*/
/*    #sidebarCollapse.active span:first-of-type {*/
/*        transform: rotate(45deg) translate(2px, 2px);*/
/*    }*/
/*    #sidebarCollapse.active span:nth-of-type(2) {*/
/*        opacity: 0;*/
/*    }*/
/*    #sidebarCollapse.active span:last-of-type {*/
/*        transform: rotate(-45deg) translate(1px, -1px);*/
/*    }*/

/*}*/



/*@media (max-width: 768px) {*/
    /*#sidebar {*/
    /*    width: 250px;*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    left: -250px;*/
    /*    height: 100vh;*/
    /*    z-index: 5000;*/
    /*    !*background: #7386D5;*!*/
    /*    color: #fff;*/
    /*    transition: all 0.3s;*/
    /*    overflow-y: scroll;*/
    /*    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);*/
    /*}*/
    /*#sidebar.active {*/
    /*    left: 0;*/
    /*}*/

    /*.overlay {*/
    /*    display: none;*/
    /*    position: fixed;*/
    /*    width: 100vw;*/
    /*    height: 100vh;*/
    /*    background: rgba(0, 0, 0, 0.7);*/
    /*    z-index: 998;*/
    /*    opacity: 0;*/
    /*    transition: all 0.5s ease-in-out;*/
    /*}*/
    /*.overlay.active {*/
    /*    display: block;*/
    /*    opacity: 1;*/
    /*}*/

    /*#sidebar {*/
    /*    min-width: 250px;*/
    /*    max-width: 250px;*/
    /*    !*text-align: center;*!*/
    /*    !*margin-left: -80px !important;*!*/
    /*}*/
    /*.dropdown-toggle::after {*/
    /*    top: auto;*/
    /*    bottom: 10px;*/
    /*    !*right: 50%;*!*/
    /*    -webkit-transform: translateX(50%);*/
    /*    -ms-transform: translateX(50%);*/
    /*    transform: translateX(50%);*/
    /*}*/
    /*#sidebar.active {*/
    /*    width: 0;*/
    /*    margin-left: 0 !important;*/
    /*}*/
    /*#sidebar .sidebar-header h3,*/
    /*#sidebar .CTAs {*/
    /*    display: none;*/
    /*}*/
    /*#sidebar .sidebar-header strong {*/
    /*    display: block;*/
    /*}*/
    /*!*#sidebar ul li a {*!*/
    /*!*    padding: 20px 10px;*!*/
    /*!*}*!*/
    /*#sidebar ul li a span {*/
    /*    font-size: 0.85em;*/
    /*}*/
    /*#sidebar ul li a i {*/
    /*    margin-right: 0;*/
    /*    display: block;*/
    /*}*/
    /*#sidebar ul ul a {*/
    /*    padding: 10px !important;*/
    /*}*/
    /*#sidebar ul li a i {*/
    /*    font-size: 1.3em;*/
    /*}*/
    /*#sidebar {*/
    /*    margin-left: 0;*/
    /*}*/
    /*#sidebarCollapse span {*/
    /*    display: none;*/
    /*}*/
/*}*/




/* ---------------------------------------------------
    CARD STYLE
----------------------------------------------------- */

.card{
    /*max-width: 400px;*/
    background: #FFFFFF;
    border: 0.7px solid #EEF1F2;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(41, 66, 120, 0.06);
    border-radius: 20px;
    padding: 15px;
}

.card * {
    background: none;
    border: none;

}

.card-header {
    font-size: 16px;
    line-height: 20px;
}


.card__totals-body{
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
}

.card__total-footer span{
    color: #8A8A8A;
}


.card__last-orders{
    max-width: 100%;
}